# Python cache
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
venv/
.env
.env.local
.env.prod

# VSCode settings
.vscode/

# etc
agent.md
/RoadMap
/RoadMap2
/RoadMap3
/RoadMap4
/dules-frontend/
/dules-admin
test_gemini.py
requirements.dev.txt